@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}.btn-contain{
    text-align: center;
}
.button{
    padding: 15px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: work sans;
    font-size: 12px;
    font-weight: 600px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;

background: rgb(82, 195, 3);
}
#hero{
    height: 579px;
    width: 100%;
    /* background-image: linear-gradient(180deg,
    rgb(16, 16, 16,) -19.5%,
    rgba(16, 16, 16, 0)100%
    ), */
    /* visibility: hidden; */
    background-color: rgb(30, 30, 30); 
    background-image: linear-gradient(
       0deg,
     rgb(16, 16, 16)-19.5%,
     rgba(16, 16, 16 ,0) 100%
    ),
    url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    font-family: "Work Sans", serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero .hero-content{
    width: 602px;
}
#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: work sans;
    font-size: 20px;
    font-weight: 600px;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.8; 
    margin: 10px;
    margin-bottom: 10px;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: work sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.8; 
    margin-bottom: 14px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: work sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.8;
    opacity: 0.7;
    margin-bottom: 32px;
}


#card-box{
 width: 778px;
 margin: 100px auto;   
}
/* #card-box .info{

} */
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}
.card-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 0px;
}
.card .image-box{
    width: 250px;
}
.card .image-box img {
    width: 100%;
}
.card .pizza{
    /* background-color: aqua; */
    /* padding: 10px 10px 10px 10px; */
    /* border: 2px solid red; */
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
   
   text-align: center;
   border-radius: 8px;
    font-size: larger;
    width: fit-content;
    padding: 8px;
    background: rgba(105, 180, 51, 0.15);
}
/* .button{
    display: flex;
    justify-content: center;
    align-items: center;
} */
